<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">Aeroporto Horizon</a>      
      
        <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="accountService.currentUser$ | async">
          <li class="nav-item">
            <a class="nav-link" routerLink="/aeroportos" routerLinkActive="active">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/voos" routerLinkActive="active">Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/voos" routerLinkActive="active">Messages</a>
          </li>
        </ul>

        <div class="dropdown" *ngIf="accountService.currentUser$ | async as User" dropdown>
            <a class="dropdown-toggle text-light text-decoratio-none" dropdownToggle>Welcome User</a>
            <div class="dropdown-menu" *dropdownMenu>
                <a class="dropdown-item">Edit Profile</a>
                <a class="dropdown-item" (click)="logout()" >logout</a>
            </div>
        </div>

        <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
          <input
            name="userName"
            [(ngModel)]="model.userName"
            class="form-control me-2" 
            type="text" placeholder="userName">
          <input 
            name="password"
            [(ngModel)]="model.password"
            class="form-control me-2"
            class="form-control me-2" 
            type="password" placeholder="password">
          <button class="btn btn-success" type="submit">Login</button>
        </form>      
    </div>
  </nav>
